<!doctype html>
<html>
    <head>
        <title>Nanocartographer</title>
    </head>
    <body>
        <h1>Nanocartographer GUI - v0.1</h1>
        <div>
            <!--<img src="{{ tip_tilt_map }}" alt="Tip/Tilt Map">-->
            <img src="{{ image }}"/>
        </div>
        
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.a.label }}<br>
            {{ form.a(size=32) }}
        </p>
        <p>
            {{ form.b.label }}<br>
            {{ form.b(size=32) }}
        </p>
        <p>
            {{ form.c.label }}<br>
            {{ form.c(size=32) }}
        </p>
        <p>
            {{ form.alpha_crystal.label }}<br>
            {{ form.alpha_crystal(size=32) }}
        </p>
        <p>
            {{ form.beta_crystal.label }}<br>
            {{ form.beta_crystal(size=32) }}
        </p>
        <p>
            {{ form.gamma_crystal.label }}<br>
            {{ form.gamma_crystal(size=32) }}
        </p>
        <p>
            {{ form.is_hexagonal.label }}<br>
            {{ form.is_hexagonal(size=32) }}
        </p>
        <p>
            {{ form.use_four_index.label }}<br>
            {{ form.use_four_index(size=32) }}
        </p>
        
        <p>
            {{ form.alpha_pole.label }}<br>
            {{ form.alpha_pole(size=32) }}
        </p>
        <p>
            {{ form.beta_pole.label }}<br>
            {{ form.beta_pole(size=32) }}
        </p>  
        <p>
            {{ form.cryst_rot.label }}<br>
            {{ form.cryst_rot(size=32) }}
        </p>      
        <p>
            {{ form.found_pole_u.label }}<br>
            {{ form.found_pole_u(size=32) }}
        </p>      
        <p>
            {{ form.found_pole_v.label }}<br>
            {{ form.found_pole_v(size=32) }}
        </p> 
        <p>
            {{ form.found_pole_w.label }}<br>
            {{ form.found_pole_w(size=32) }}
        </p>   
        
        <p>
            {{ form.sample_rot.label }}<br>
            {{ form.sample_rot(size=32) }}
        </p> 
        <p>
            {{ form.horizontal_flip.label }}<br>
            {{ form.horizontal_flip(size=32) }}
        </p> 
        <p>
            {{ form.vertical_flip.label }}<br>
            {{ form.vertical_flip(size=32) }}
        </p> 
        
        <p>
            {{ form.alpha_limit.label }}<br>
            {{ form.alpha_limit(size=32) }}
        </p> 
        <p>
            {{ form.beta_limit.label }}<br>
            {{ form.beta_limit(size=32) }}
        </p> 
        <p>
            {{ form.superellipse_param.label }}<br>
            {{ form.superellipse_param(size=32) }}
        </p>
        
        <p>
            {{ form.min_beta.label }}<br>
            {{ form.min_beta(size=32) }}
        </p>
        <p>
            {{ form.max_beta.label }}<br>
            {{ form.max_beta(size=32) }}
        </p>
        <p>
            {{ form.min_alpha.label }}<br>
            {{ form.min_alpha(size=32) }}
        </p>
        <p>
            {{ form.max_alpha.label }}<br>
            {{ form.max_alpha(size=32) }}
        </p>
        
        <p>{{ form.update() }}</p>
    </form>
    </body>
</html>